*.pth
node_modules/
dist/
.vscode/
.env
!docs/plots/*.png

!backend/artifacts/autoencoder_best.pth
!backend/artifacts/scaler_min.npy
!backend/artifacts/scaler_scale.npy
!backend/artifacts/threshold.npy
!docs/sample_data/*.csv